In [1]:
# 필요한 데이터 로딩
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [133]:
# 데이터
train = pd.read_csv('C:/Users/admin/Downloads/spaceship-titanic/train_scaled.csv')

In [62]:
train.head()

,PassengerId,HomePlanet,CryoSleep,Cabin1,Cabin2,combi,Cabin3,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B,0.0,B0,P,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F,0.0,F0,S,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A,0.0,A0,S,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A,0.0,A0,S,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F,1.0,F1,S,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [63]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8501 non-null   object
 2   CryoSleep     8481 non-null   object
 3   Cabin1        8590 non-null   object
 4   Cabin2        8590 non-null   float64
 5   combi         8590 non-null   object
 6   Cabin3        8590 non-null   object
 7   Cabin         8590 non-null   object
 8   Destination   8519 non-null   object
 9   Age           8514 non-null   float64
 10  VIP           8490 non-null   object
 11  RoomService   8516 non-null   float64
 12  FoodCourt     8513 non-null   float64
 13  ShoppingMall  8488 non-null   float64
 14  Spa           8518 non-null   float64
 15  VRDeck        8506 non-null   float64
 16  Name          8493 non-null   object
 17  Transported   8693 non-null   bool
dtypes: bool(1), float64(7), object(10)
memory usage: 1.1+ MB

In [ ]:
# 더미 할것
홈플레닛, 얼린거(불린), 캐빈, 도착지, vip(불린)

# 원-핫 인코딩

In [134]:
df = train.drop(['Name','PassengerId'], axis =1)
df.head()

,HomePlanet,CryoSleep,Cabin1,Cabin2,combi,Cabin3,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,B,0.0,B0,P,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,F,0.0,F0,S,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,A,0.0,A0,S,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,A,0.0,A0,S,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,F,1.0,F1,S,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True

In [65]:
 pd.get_dummies(df['HomePlanet'])

      Earth  Europa  Mars
0         0       1     0
1         1       0     0
2         0       1     0
3         0       1     0
4         1       0     0
...     ...     ...   ...
8688      0       1     0
8689      1       0     0
8690      1       0     0
8691      0       1     0
8692      0       1     0

[8693 rows x 3 columns]

In [66]:
from sklearn.preprocessing import StandardScaler
# encoding col
encoding_col = ['HomePlanet', 'CryoSleep','Cabin1','Cabin3', 'Destination']

# 표준화를 위한 함수 정의
def dummies(df, encoding_col):
    for col in encoding_col:
        x = df[col]
        df_encode = pd.get_dummies(x)
       #df = df.drop(col, axis=1)
        df = df.join(df_encode)
    return df

In [135]:
train_encoding = pd.get_dummies(df['HomePlanet'])
# 기존의 팀명 컬러 삭제
# df=df.drop('HomePlanet',axis=1)
df = df.join(train_encoding)

train_encoding = pd.get_dummies(df['Destination'])
# 기존의 팀명 컬러 삭제
# df=df.drop('Destination',axis=1)
df = df.join(train_encoding)

train_encoding = pd.get_dummies(df['Cabin1'])
# 기존의 팀명 컬러 삭제
# df=df.drop('Cabin1',axis=1)
df = df.join(train_encoding)

In [136]:
df.columns

Index(['HomePlanet', 'CryoSleep', 'Cabin1', 'Cabin2', 'combi', 'Cabin3',
       'Cabin', 'Destination', 'Age', 'VIP', 'RoomService', 'FoodCourt',
       'ShoppingMall', 'Spa', 'VRDeck', 'Transported', 'Earth', 'Europa',
       'Mars', '55 Cancri e', 'PSO J318.5-22', 'TRAPPIST-1e', 'A', 'B', 'C',
       'D', 'E', 'F', 'G', 'T'],
      dtype='object')

In [137]:
df['Cabin3'].replace({'P': 'True','S': 'False'})

0        True
1       False
2       False
3       False
4       False
        ...
8688     True
8689    False
8690    False
8691    False
8692    False
Name: Cabin3, Length: 8693, dtype: object

In [138]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 30 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   HomePlanet     8501 non-null   object
 1   CryoSleep      8481 non-null   object
 2   Cabin1         8590 non-null   object
 3   Cabin2         8590 non-null   float64
 4   combi          8590 non-null   object
 5   Cabin3         8590 non-null   object
 6   Cabin          8590 non-null   object
 7   Destination    8519 non-null   object
 8   Age            8514 non-null   float64
 9   VIP            8490 non-null   object
 10  RoomService    8516 non-null   float64
 11  FoodCourt      8513 non-null   float64
 12  ShoppingMall   8488 non-null   float64
 13  Spa            8518 non-null   float64
 14  VRDeck         8506 non-null   float64
 15  Transported    8693 non-null   bool
 16  Earth          8693 non-null   uint8
 17  Europa         8693 non-null   uint8
 18  Mars           8693 non-null   uint8
 19  55 Cancri e    8693 non-null   uint8
 20  PSO J318.5-22  8693 non-null   uint8
 21  TRAPPIST-1e    8693 non-null   uint8
 22  A              8693 non-null   uint8
 23  B              8693 non-null   uint8
 24  C              8693 non-null   uint8
 25  D              8693 non-null   uint8
 26  E              8693 non-null   uint8
 27  F              8693 non-null   uint8
 28  G              8693 non-null   uint8
 29  T              8693 non-null   uint8
dtypes: bool(1), float64(7), object(8), uint8(14)
memory usage: 1.1+ MB

In [119]:
df[df['Cabin3'] == 'P'] = True

In [120]:
df[df['Cabin3']== 'S'] = False
df.Cabin3
# True, False로 바뀌는데  불린형으로 다시 변경해줘야함.

0        True
1       False
2       False
3       False
4       False
        ...
8688     True
8689    False
8690    False
8691    False
8692    False
Name: Cabin3, Length: 8693, dtype: object

In [139]:
# boolean 변환
df['CryoSleep'] = df['CryoSleep'].astype(bool)
df['VIP'] = df['VIP'].astype(bool)
df['Cabin3'] = df['Cabin3'].astype(bool)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 30 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   HomePlanet     8501 non-null   object
 1   CryoSleep      8693 non-null   bool
 2   Cabin1         8590 non-null   object
 3   Cabin2         8590 non-null   float64
 4   combi          8590 non-null   object
 5   Cabin3         8693 non-null   bool
 6   Cabin          8590 non-null   object
 7   Destination    8519 non-null   object
 8   Age            8514 non-null   float64
 9   VIP            8693 non-null   bool
 10  RoomService    8516 non-null   float64
 11  FoodCourt      8513 non-null   float64
 12  ShoppingMall   8488 non-null   float64
 13  Spa            8518 non-null   float64
 14  VRDeck         8506 non-null   float64
 15  Transported    8693 non-null   bool
 16  Earth          8693 non-null   uint8
 17  Europa         8693 non-null   uint8
 18  Mars           8693 non-null   uint8
 19  55 Cancri e    8693 non-null   uint8
 20  PSO J318.5-22  8693 non-null   uint8
 21  TRAPPIST-1e    8693 non-null   uint8
 22  A              8693 non-null   uint8
 23  B              8693 non-null   uint8
 24  C              8693 non-null   uint8
 25  D              8693 non-null   uint8
 26  E              8693 non-null   uint8
 27  F              8693 non-null   uint8
 28  G              8693 non-null   uint8
 29  T              8693 non-null   uint8
dtypes: bool(4), float64(7), object(5), uint8(14)
memory usage: 967.9+ KB

# 스케일링

In [140]:
# 스케일 할 값들
col = ['Cabin2', 'Age', 'RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']
def data_scaled(df, col):
    for i in col:
        data_mean = df[i].mean()
        data_std = df[i].std()
        scaled = (df[i]-data_mean)/data_std
        df[i]=scaled
    return df

In [141]:
data_scaled(df,col)

,HomePlanet,CryoSleep,Cabin1,Cabin2,combi,Cabin3,Cabin,Destination,Age,VIP,...,PSO J318.5-22,TRAPPIST-1e,A,B,C,D,E,F,G,T
0,Europa,False,B,-1.170228,B0,True,B/0/P,TRAPPIST-1e,0.702031,False,...,0,1,0,1,0,0,0,0,0,0
1,Earth,False,F,-1.170228,F0,True,F/0/S,TRAPPIST-1e,-0.333346,False,...,0,1,0,0,0,0,0,1,0,0
2,Europa,False,A,-1.170228,A0,True,A/0/S,TRAPPIST-1e,2.013508,True,...,0,1,1,0,0,0,0,0,0,0
3,Europa,False,A,-1.170228,A0,True,A/0/S,TRAPPIST-1e,0.287880,False,...,0,1,1,0,0,0,0,0,0,0
4,Earth,False,F,-1.168274,F1,True,F/1/S,TRAPPIST-1e,-0.885547,False,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,Europa,False,A,-0.978724,A98,True,A/98/P,55 Cancri e,0.840081,True,...,0,0,1,0,0,0,0,0,0,0
8689,Earth,True,G,1.758999,G1499,True,G/1499/S,PSO J318.5-22,-0.747496,False,...,1,0,0,0,0,0,0,0,1,0
8690,Earth,False,G,1.760953,G1500,True,G/1500/S,TRAPPIST-1e,-0.195295,False,...,0,1,0,0,0,0,0,0,1,0
8691,Europa,False,E,0.017878,E608,True,E/608/S,55 Cancri e,0.218855,False,...,0,0,0,0,0,0,1,0,0,0
8692,Europa,False,E,0.017878,E608,True,E/608/S,TRAPPIST-1e,1.047156,False,...,0,1,0,0,0,0,1,0,0,0

# 결측값 제거 후 클러스터링
# 클러스터링 데이터 활용하여 결측값 처리
# NA 드롭하여 캐빈의 결측값 제거
# 상관계수, 다중공선성 확인

# 결측값 제거 후 클러스터링

In [143]:
df_new = df.dropna(axis=0)
df_new.shape

(7226, 30)

In [86]:
target = df_new.Transported

In [144]:
dt = df_new.drop(['Transported','Cabin1','combi','Cabin3','Cabin','Destination'],axis=1)

In [128]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8590 entries, 0 to 8692
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   HomePlanet     8590 non-null   object
 1   CryoSleep      8590 non-null   bool
 2   Cabin2         8590 non-null   object
 3   Age            8590 non-null   object
 4   VIP            8590 non-null   bool
 5   RoomService    8590 non-null   object
 6   FoodCourt      8590 non-null   object
 7   ShoppingMall   8590 non-null   object
 8   Spa            8590 non-null   object
 9   VRDeck         8590 non-null   object
 10  Earth          8590 non-null   object
 11  Europa         8590 non-null   object
 12  Mars           8590 non-null   object
 13  55 Cancri e    8590 non-null   object
 14  PSO J318.5-22  8590 non-null   object
 15  TRAPPIST-1e    8590 non-null   object
 16  A              8590 non-null   object
 17  B              8590 non-null   object
 18  C              8590 non-null   object
 19  D              8590 non-null   object
 20  E              8590 non-null   object
 21  F              8590 non-null   object
 22  G              8590 non-null   object
 23  T              8590 non-null   object
dtypes: bool(2), object(22)
memory usage: 1.5+ MB

In [89]:
dt.head()

,HomePlanet,CryoSleep,Cabin1,Cabin2,combi,Cabin3,Cabin,Destination,Age,VIP,...,PSO J318.5-22,TRAPPIST-1e,A,B,C,D,E,F,G,T
0,Europa,False,B,-1.170228,B0,True,B/0/P,TRAPPIST-1e,0.702031,False,...,0,1,0,1,0,0,0,0,0,0
1,Earth,False,F,-1.170228,F0,True,F/0/S,TRAPPIST-1e,-0.333346,False,...,0,1,0,0,0,0,0,1,0,0
2,Europa,False,A,-1.170228,A0,True,A/0/S,TRAPPIST-1e,2.013508,True,...,0,1,1,0,0,0,0,0,0,0
3,Europa,False,A,-1.170228,A0,True,A/0/S,TRAPPIST-1e,0.287880,False,...,0,1,1,0,0,0,0,0,0,0
4,Earth,False,F,-1.168274,F1,True,F/1/S,TRAPPIST-1e,-0.885547,False,...,0,1,0,0,0,0,0,1,0,0

In [126]:
dt.columns

Index(['CryoSleep', 'Cabin2', 'Age', 'VIP', 'RoomService', 'FoodCourt',
       'ShoppingMall', 'Spa', 'VRDeck', 'Earth', 'Europa', 'Mars',
       '55 Cancri e', 'PSO J318.5-22', 'TRAPPIST-1e', 'A', 'B', 'C', 'D', 'E',
       'F', 'G', 'T'],
      dtype='object')

In [97]:
from sklearn.cluster import KMeans
kmeans=KMeans(n_clusters=3, random_state=109)
kmeans.fit(dt)

KMeans(n_clusters=3, random_state=109)

In [99]:
pred = kmeans.predict(dt)
pred

array([2, 2, 0, ..., 1, 0, 2])

In [101]:
dt['cluster'] = pred
dt.head()

,CryoSleep,Cabin2,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Earth,...,TRAPPIST-1e,A,B,C,D,E,F,G,T,cluster
0,False,-1.170228,0.702031,False,-0.336918,-0.284203,-0.287245,-0.273582,-0.266065,0,...,1,0,1,0,0,0,0,0,0,2
1,False,-1.170228,-0.333346,False,-0.173396,-0.278617,-0.245895,0.209603,-0.227659,1,...,1,0,0,0,0,0,1,0,0,2
2,False,-1.170228,2.013508,True,-0.272409,1.935222,-0.287245,5.636409,-0.223295,0,...,1,1,0,0,0,0,0,0,0,0
3,False,-1.170228,0.287880,False,-0.336918,0.512084,0.326386,2.656331,-0.097603,0,...,1,1,0,0,0,0,0,0,0,0
4,False,-1.168274,-0.885547,False,0.117642,-0.240758,-0.037492,0.223685,-0.264320,1,...,1,0,0,0,0,0,1,0,0,2

In [103]:
from sklearn.metrics import silhouette_score
k_range = range(2,30)

best_k = -1
best_silhouette_score = -1

for k in k_range:
    km = KMeans(n_clusters = k, random_state=109)
    km.fit(dt)
    clusters= km.predict(dt)
    
    score = silhouette_score(dt, clusters)
    
    print('k: {}, score: {}'.format(k, score))
    if score > best_silhouette_score:
        best_k = k
        best_silhouette_score = score
        
print('\n best K: {}, best Score: {}'.format(best_k, best_silhouette_score))

k: 2, score: 0.4655183048036198
k: 3, score: 0.17790620809689317
k: 4, score: 0.1878032423994321
k: 5, score: 0.1927408845046325
k: 6, score: 0.14285584643476687
k: 7, score: 0.14824520392957966
k: 8, score: 0.1789022632421114
k: 9, score: 0.15714797597823688
k: 10, score: 0.16661675259832587
k: 11, score: 0.16930608362914426
k: 12, score: 0.17244386156680425
k: 13, score: 0.1742552105427565
k: 14, score: 0.16948726604462225
k: 15, score: 0.17990467569434007
k: 16, score: 0.1694678095855339
k: 17, score: 0.17657507540677966
k: 18, score: 0.17444309268172203
k: 19, score: 0.17348169235490948
k: 20, score: 0.1743211512791874
k: 21, score: 0.17323830785208105
k: 22, score: 0.18384460014537815
k: 23, score: 0.17951394423006695
k: 24, score: 0.178384063554441
k: 25, score: 0.16932085856226328
k: 26, score: 0.18063948833827995
k: 27, score: 0.16935365840184963
k: 28, score: 0.17627862854727264
k: 29, score: 0.1810758424132175

 best K: 2, best Score: 0.4655183048036198

In [104]:
from sklearn.model_selection import train_test_split

In [ ]:
# X_train,X_test,y_train,y_test = train_test_split(dt.drop(['VIP'],axis=1),dt.VIP,random_state=109)

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 30 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   HomePlanet     8501 non-null   object
 1   CryoSleep      8693 non-null   bool
 2   Cabin1         8590 non-null   object
 3   Cabin2         8590 non-null   float64
 4   combi          8590 non-null   object
 5   Cabin3         8693 non-null   bool
 6   Cabin          8590 non-null   object
 7   Destination    8519 non-null   object
 8   Age            8514 non-null   float64
 9   VIP            8693 non-null   bool
 10  RoomService    8516 non-null   float64
 11  FoodCourt      8513 non-null   float64
 12  ShoppingMall   8488 non-null   float64
 13  Spa            8518 non-null   float64
 14  VRDeck         8506 non-null   float64
 15  Transported    8693 non-null   bool
 16  Earth          8693 non-null   uint8
 17  Europa         8693 non-null   uint8
 18  Mars           8693 non-null   uint8
 19  55 Cancri e    8693 non-null   uint8
 20  PSO J318.5-22  8693 non-null   uint8
 21  TRAPPIST-1e    8693 non-null   uint8
 22  A              8693 non-null   uint8
 23  B              8693 non-null   uint8
 24  C              8693 non-null   uint8
 25  D              8693 non-null   uint8
 26  E              8693 non-null   uint8
 27  F              8693 non-null   uint8
 28  G              8693 non-null   uint8
 29  T              8693 non-null   uint8
dtypes: bool(4), float64(7), object(5), uint8(14)
memory usage: 967.9+ KB

In [111]:
df.HomePlanet.isnull().value_counts() # 결측값 192개   # y

False    8501
True      192
Name: HomePlanet, dtype: int64

In [142]:
XX = df.drop('HomePlanet', axis = 1)
yy = df.HomePlanet

In [145]:
# XGboost 용 데이터
X_train = dt.drop('HomePlanet', axis=1)
X_test = dt['HomePlanet']

In [146]:
X_train.shape, X_test.shape

((7226, 23), (7226,))

In [132]:
import xgboost as xgb
from xgboost import plot_importance

In [150]:
# 결측치 없는 데이터 내에서 
train_input, test_input, train_target, test_target = train_test_split(X_train, X_test, test_size = 0.2, random_state=109)

# 필요변수로 셋분리
X_tr, X_val, y_tr, y_val = train_test_split(train_input, train_target, test_size=0.1, random_state=109)

print(train_input.shape, test_input.shape)
print(X_tr.shape, X_val.shape)

(5780, 23) (1446, 23)
(5202, 23) (578, 23)

In [152]:
# DMatrix
dtr = xgb.DMatrix(data=X_tr, label=y_tr)
dval = xgb.DMatrix(data=X_val, label=y_val)
dtest = xgb.DMatrix(data=test_input, label=test_target)

ValueError: could not convert string to float: 'Earth'